# Introduction to pandas

## Why use pandas?

*Addresses some shortcomings of NumPy:*

1.  Data is organized in *variables* and *observations*

2.  Each variable is permitted to have a *different* data type (integers, floats, strings, ...)

3.  Can select observations based on *labels* (e.g., time or date)

4.  Supports aggregation & reduction functions applied to *subsets* of data

5.  Many convenient data import / export functions

## Why not?

1.  NumPy is faster for low-level computing on homogenous data
2.  Pandas can consume lots of memory
3.  Pandas can be slow with large data sets (millions of observations)

## Resources

- [pandas cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

***
## Creating pandas data structures

Pandas has two main data structures:

1.  [`Series`](https://pandas.pydata.org/docs/reference/series.html): 
    observations of a *single* variable.
2.  [`DataFrame`](https://pandas.pydata.org/docs/reference/frame.html): 
    container for *several* variables.

*Example: Create Series from 1-dimensional NumPy array*

In [ ]:
# Need to import pandas before usage
import pandas as pd

# Import NumPy to create some demo data
import numpy as np

*Example: Create DataFrame from NumPy array*

-   We can create 2-dimensional arrays from 1-dimensional ones with 
    [`reshape()`](https://numpy.org/doc/stable/reference/generated/numpy.reshape.html)

*Example: Create DataFrame with non-homogenous data from dictionary*

In [ ]:
import numpy as np
import pandas as pd

# Names (strings)
names = ['Alice', 'Bob']

# Birth dates (datetime objects)
bdates = pd.to_datetime(['1985-01-01', '1997-05-12'])

# Incomes (floats)
incomes = np.array([600000, np.nan])         # code missing income as NaN

pd.Seriesnp.array(['A*'])

<div class="alert alert-info">
<h3> Your turn</h3>

Create a pandas <tt>Series</tt> which contains the characters <tt>'a'</tt>, <tt>'b'</tt>, and <tt>'c'</tt>.

</div>

In [ ]:

pd.Seriesnp.array(['A', 'B', 'C'])

***
## Importing data

### Loading data with NumPy & its limitations (optional)

-   See final lecture notebook if you are interested

***
### Loading data with Pandas

The most important input/output functions are:

-   [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html), 
    [`to_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html): 
    Read or write CSV text files.
-   [`read_fwf()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_fwf.html): 
    Read data with fixed field widths, i.e., text data
    that does not use delimiters to separate fields.
-   [`read_excel()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html), 
    [`to_excel()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html): 
    Read or write Excel spreadsheets.
-   [`read_stata()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_stata.html), 
    [`to_stata()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_stata.html): 
    Read or write Stata's `.dta` files.

*Example: Load data using `read_csv()`*

In [2]:
import panda as pd
# Uncomment this to use files in the local data/ directory
DATA_PATH = '../../data'

filename = f'{DATA_PATH}/titanic.csv'

df = pd.read_csv(filename, sep=',')

ModuleNotFoundError: No module named 'panda'

<div class="alert alert-info">
<h3> Your turn</h3>
Use the pandas functions listed above to import data from the following files located in the <TT>data</TT> folder:
<ol>
    <li>titanic.csv</li>
    <li>FRED/FRED_annual.xlsx</li>
</ol>

To load Excel files, you need to have the package <TT>openpyxl</TT> installed.
</div>

***
## Viewing data

Methods for inspecting (parts of) a DataFrame:

- [`info()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html): print information about observation count, columns, and data types
- [`head()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html): print the first few rows
- [`tail()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html): print the last few rows
- [`describe()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html): print summary statistics for *numerical* data
- [`value_counts()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.value_counts.html): tabulate observation counts for categorical data

*Example: Load and view Titanic data set*

Columns present in the file `titanic.csv`:

1.  `PassengerId`
2.  `Survived`: indicator whether the person survived
3.  `Pclass`: accommodation class (first, second, third)
4.  `Name`: Name of passenger (last name, first name)
5.  `Sex`: `male` or `female`
6.  `Age`
7.  `Ticket`: Ticket number
8.  `Fare`: Fare in pounds
9.  `Cabin`: Deck + cabin number
10. `Embarked`: Port at which passenger embarked:
    `C` - Cherbourg, `Q` - Queenstown, `S` - Southampton

<div class="alert alert-info">
<h3> Your turn</h3>
Using the Titanic data set, tabulate the number of passengers by the port in which they boarded the ship
(variable <tt>Embarked</tt>). How many observations have missing values for this variable?
</div>

***
## Indexing

Pandas supports two types of indexing:

1.  Indexing by position (same as Python containers and NumPy arrays)
2.  Indexing by label, i.e., by the values assigned to the row or column *index*.
    
Pandas indexing is performed either by using brackets `[]`, or by using
`.loc[]` for label indexing, or `.iloc[]` for positional indexing.

Indexing via `[]` can be somewhat confusing:

-   specifying `df['name']` returns the column `name` as a `Series` object.
-   specifying a range such as `df[5:10]` returns the *rows*
    associated with the *positions* 5,...,9.

    **Recommendation:** Don't use this, there are less confusing ways to select rows.

*Example: Selecting a single column*

-   Select column `'Name'` from Titanic data set

*Example: Selecting multiple columns*

-   Select columns `'Name'` and `'Sex'` from Titanic data set
-   Need to specify multiple columns as `list`

***
### Creating and manipulating indices


Three main methods to create/manipulate indices:

1.   Create a new `Series` or `DataFrame` object with a custom index
    using the `index` argument.
2.   [`set_index(keys=['column1', ...])`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)
    uses the values of `column1`
    and optionally additional columns as indices, discarding the current index.
3.   [`reset_index()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html) 
    resets the index to its default value, a sequence
    of increasing integers starting at 0.

#### Creating custom indices

*Example: Create `Series` with custom index*

#### Manipulating indices


-   By default, this creates a *new* `Series` or `DataFrame`, unless `inplace=True` is specified.

*Example: Set DataFrame index from column*

-   Use the `set_index()` method
-   Optionally specify `append=True` to add as *additional* index levels

In [4]:
# Create demo DataFrame
import pandas as pd

df = pd.DataFrame({'A': [10, 20, 30], 'B': ['a', 'b', 'c']})

In [8]:
df.set_index('B', inplace=True)

KeyError: "None of ['B'] are in the columns"


*Example: Reset DataFrame index*

-   Use the `reset_index()` method
-   Optionally specify `drop=True`, otherwise the old index is added as a column to the DataFrame

In [12]:
df.reset_index()

  index   X   Y   Z
0     a  X0  Y0  Z0
1     b  X1  Y1  Z1
2     c  X2  Y2  Z2
3     d  X3  Y3  Z3
4     e  X4  Y4  Z4

<div class="alert alert-info">
<h3> Your turn</h3>
Read in the following data files from the <TT>data/FRED</TT> folder and manipulate the dataframe index:
<ol>
    <li>Read in the file <TT>FRED_annual.csv</TT> and set the column <TT>Year</TT> as the index.</li>
    <li>Read in the file <TT>FRED_monthly.csv</TT> and set the columns <TT>Year</TT> and <TT>Month</TT> as the index</li>
</ol>
Perform the tasks using <TT>inplace=False</TT> and <TT>inplace=True</TT>. What's the difference?

Restore the original (default) index after you are done.
</div>

In [26]:
DATA_PATH = '../../data'

fn1 = f'{DATA_PATH}/FRED/FRED_annual.csv'
fn2 = f'{DATA_PATH}/FRED/FRED_monthly.csv'

df = pd.read_csv(fn1)
df2 = pd.read_csv(fn2)

df2.set_index(['Year', 'Month'])

                  DATE    CPI  UNRATE  FEDFUNDS  REALRATE  LFPART
Year Month
1948 1      1948-01-01   23.7     3.4       NaN       NaN    58.6
     2      1948-02-01   23.7     3.8       NaN       NaN    58.9
     3      1948-03-01   23.5     4.0       NaN       NaN    58.5
     4      1948-04-01   23.8     3.9       NaN       NaN    59.0
     5      1948-05-01   24.0     3.5       NaN       NaN    58.3
...                ...    ...     ...       ...       ...     ...
2024 8      2024-08-01  314.1     4.2       5.3       2.5    62.7
     9      2024-09-01  314.9     4.1       5.1       2.4    62.7
     10     2024-10-01  315.6     4.1       4.8       2.2    62.5
     11     2024-11-01  316.4     4.2       4.6       2.1    62.5
     12     2024-12-01  317.6     4.1       4.5       1.6    62.5

[924 rows x 6 columns]

***
### Selecting elements

Recommended rules for indexing:

1.  Use `df['name']` only to select *columns* and nothing else
2.  Use [`.loc[]`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) to select by label
3.  Use [`.iloc[]`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) to select by position

*Demo data set used for this section:*

In [27]:
import numpy as np
import pandas as pd
# Create demo data with 3 columns and 5 rows

# Column labels
columns = ['X', 'Y', 'Z']
# Row labels
rows = ['a', 'b', 'c', 'd', 'e']

values = np.arange(len(rows))

# Create data dictionary using a list comprehension
data = {col: [f'{col}{val}' for val in values] for col in columns}

# Create DataFrame from dictionary
df = pd.DataFrame(data, index=rows)

In [28]:
df

    X   Y   Z
a  X0  Y0  Z0
b  X1  Y1  Z1
c  X2  Y2  Z2
d  X3  Y3  Z3
e  X4  Y4  Z4

In [ ]:
df.iloc[]]

SyntaxError: invalid syntax (4247404030.py, line 1)

**Selection by label**

-   Use `.loc[]` to select rows and/or columns *by label*
-   Can use *slicing* where last element is *included*

**Selection by position**

-   Use `.iloc[]` to select rows and/or columns *by position*

**Boolean indexing**

-   Select elements based on whether some condition is true
-   Works with `[]`, with `.loc[]`, and with `.iloc[]` (for some reason)

*Example: Boolean indexing with Titanic data*

- Select all rows of passengers who embarked in Southampton (`'Embarked'` equals `'S'`)

In [38]:
DATA_PATH = '../../data'
df = pd.read_csv(f'{DATA_PATH}/titanic.csv', sep=',')

df[df['Embarked'] == 'S']

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,17463,51.8625,E46,S
...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss Margaret Edith",female,19.0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss Catherine Helen ""Carrie""",female,NaN,W./C. 6607,23.4500,NaN,S

*Example: Multiple conditions with logical and/or*

- Select all rows of *male* passengers (`'Sex'` equals `'male'`) who embarked in Southampton (`'Embarked'` equals `'S'`)

*Example: Using `isin()`*

- Select all rows of passengers who embarked either in Southampton or Queenstown (`'Embarked'` equals `'S'` of `'Q'`)

*Example: Using `query()`*

- Select all rows of passengers who embarked in Southampton (`'Embarked'` equals `'S'`) and are older than 70

In [ ]:
df.query('Sex == "female" & Age >= 30 & Age < 40')
df["Name"]

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                  Heikkinen, Miss Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                          Graham, Miss Margaret Edith
888              Johnston, Miss Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

<div class="alert alert-info">
<h3> Your turn</h3>
Load the Titanic passenger data set <TT>data/titanic.csv</TT> and select the following subsets of data:
<ol>
    <li>Select all passengers with passenger IDs from 10 to 20</li>
    <li>Select the 10th to 20th (inclusive) row of the dataframe</li>
    <li>Using <TT>query()</TT>, select the sub-sample of female passengers aged 30 to 40. Display only the columns <TT>Name</TT>, <TT>Age</TT>, and <TT>Sex</TT> (in that order)</li>
    <li>Repeat the last exercise without using <TT>query()</TT></li>
    <li>Select all men who embarked in Queenstown or Cherbourg</li>
</ol>
</div>

***
## Working with time series data

-   Pandas indices can be date or datetime data types
-   Use [`date_range()`](https://pandas.pydata.org/docs/reference/api/pandas.date_range.html) to create a range of dates
-   Use [`to_datetime()`](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) to convert existing data to datetime format

*Example: Creating a date index*

-   Create a demo data set of daily observations for the first 3 months of 2024

In [ ]:
# Start and end dates used for demo data set
start = '2024-01-01'
end = '2024-03-31'

*Example: Select particular date*

-   Select observation from January 1, 2024

*Example: Select date range*

- Select first 5 days in January 2024

*Example: Use a partial index*

- Select all of January 2024

### Lags, differences, and other useful transformations

Methods to shift/difference observations along time dimension:

- [`shift()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shift.html): creates leads/lags
- [`diff()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.diff.html): computes absolute differences over given period
- [`pct_change()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pct_change.html): computes relative differences over given period

<div class="alert alert-info">
<h3> Your turn</h3>
Use the data from the <TT>data/FRED</TT> folder to perform the following task:
<ol>
    <li>Read in the file <TT>FRED_annual.csv</TT> and set the column <TT>Year</TT> as the index.</li>
    <li>Compute annual inflation as the percentage change of the consumer price index (column <tt>CPI</tt>).</li>
</ol>
</div>